
body{
    font-size: 10px;
}


  .main-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }

 .main-menu li{
     float: left;
 }
  
  .main-menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  .active-main-menu{
    color: black !important;
    background-color: white;
}

  .sort-by ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .sort-by li{
      float: left;
      padding: 5px;
  }
  
  .sort-by a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .sort-by a:hover{
      background-color: #555;
      color: white;
  }
  
.categories-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%; 
    position: absolute;
    overflow: auto; 
    float: left;
  }

.categories-menu li{
    display: inline;
}

.categories-menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.categories-menu li a:hover {
    background-color: #555;
    color: white;
  }

  .active {
    background-color: #E5E5E5;
  }

  .title{
      font-weight: bold;
  }

  .price{
      font-weight: bold;
      float: right;
      margin: 2px;
      color: blue;
  }

  .products{
    margin-left:22%;

  }

  .product{
      display: inline-block;
      border-style: solid;
      border-radius: 5px;
      border-color: #E5E5E5;
      width: 125px;
      padding: 5px;
      margin: 2px;
      overflow: auto;
  }

 

